<!doctype html>
<html lang="ru">
<head>
	 <meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <title>1</title>
	 <link rel="stylesheet" href="css/bootstrap.min.css">
	 <link rel="stylesheet" href="css/font-awesome.min.css">
	 <link href="css/styles.css" rel="stylesheet">
	 <script src="js/vue.js"></script>
</head>
<body>
	 <div class="wrapper">
		  <div class="sample">
				<form>
				<div class="progress">
					<div class="progress-bar"></div>
				</div>
				<div>
					<div class="form-group" v-for="(field, i) in info">
						<label><b>{{field.name}}</b></label>
						<span v-if="field.activated"
								class="fa" 
								:class="field.valid ? 
										'fa-check-circle text-success' : 
										'fa-exclamation-circle text-danger'"></span>
						<input type="text" 
							class="form-control" 
							:value="field.value" 
							@input="onInput($event.target.value, i)">
					</div>
					<pre>
						{{info}}
					</pre>
				</div>
				<button class="btn btn-primary" :disabled="!isFormValid">
					Send Data
				</button>
			</form>
			<div>
				<table class="table table-bordered">
					<tr>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	 </div>
	<script>
		
		Vue.createApp({
			data: () => ({
				isFormValid: false,
				info: [
					{
						name: 'Name',
						value: '',
						pattern: /^[a-zA-Z ]{2,30}$/
					},
					{
						name: 'Phone',
						value: '',
						pattern: /^[0-9]{7,14}$/
					},
					{
						name: 'Email',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 1',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 2',
						value: '',
						pattern: /.+/
					}
				]
			}),
			computed: {
				fieldsDone() {
					//return Object.values(this.info).every(val => val.name !== '');
					return // [0, this.info.length]; this.info.reduce(field) или обычный for или filter, every
				},
				formReady(){
					return fieldsDone === this.info.length;
				},
				progressStyles(){
					return {
						width: 0 // завязать на fieldsDone
					}
				}
			},
			methods: {
				onInput(value, i) {
					let field = this.info[i];
					field.value = value.trim();
					field.activated = true;
					field.valid = field.pattern.test(field.value);
				}
			},
			created() {
				return this.info.forEach(field =>  {
					field.activated = false,
					field.valid = false
				});
				
			}
		}).mount('.sample');
	</script>
</body>
</html>