<!doctype html>
<html lang="ru">
<head>
	 <meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <title>1</title>
	 <link rel="stylesheet" href="css/bootstrap.min.css">
	 <link rel="stylesheet" href="css/font-awesome.min.css">
	 <link href="css/styles.css" rel="stylesheet">
	 <script src="js/vue.js"></script>
</head>
<body>
	 <div class="wrapper">
		  <div class="sample">
				<form @submit.prevent="sendForm" v-if="!isFormDone">
				<div class="progress">
					<div class="progress-bar" :style="progressStyles"></div>
				</div>
				<div>
					<div class="form-group" v-for="(field, i) in info">
						<label><b>{{field.name}}</b></label>
						<span v-if="field.activated"
								class="fa" 
								:class="field.valid ? 
										'fa-check-circle text-success' : 
										'fa-exclamation-circle text-danger'"></span>
						<input type="text" 
							class="form-control" 
							:value="field.value" 
							@input="onInput($event.target.value, i)">
					</div>
				</div>
				<button class="btn btn-primary" :disabled="!formReady">
					Send Data
				</button>
			</form>
			<div v-if="isFormDone">
				<table class="table table-bordered">
					<tr v-for="field in info">
						<td>{{ field.name }}</td>
						<td>{{ field.value }}</td>
					</tr>
				</table>
			</div>
		</div>
	 </div>
	<script>
		
		Vue.createApp({
			data: () => ({
				isFormDone: false,
				info: [
					{
						name: 'Name',
						value: '',
						pattern: /^[a-zA-Z ]{2,30}$/
					},
					{
						name: 'Phone',
						value: '',
						pattern: /^[0-9]{7,14}$/
					},
					{
						name: 'Email',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 1',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 2',
						value: '',
						pattern: /.+/
					}
				]
			}),
			computed: {
				fieldsDone() {
					return this.info.reduce((total, field) => {
						return total + (field.valid ? 1 : 0);
					}, 0);

					/*return this.info.filter((total, field) => {
						return this.info[field].valid;
					}, 0);*/ // Через фильтр
				},
				formReady(){
					return this.fieldsDone === this.info.length;
					/*return this.fieldsDone.length === this.info.length;*/ // Через фильтр
				},
				progressStyles(){
					return {
						width: this.fieldsDone / this.info.length * 100 + '%'
						/*width: this.fieldsDone.length / this.info.length * 100 + '%'*/// Через фильтр
					}
				}
			},
			methods: {
				onInput(value, i) {
					let field = this.info[i];
					field.value = value.trim();
					field.activated = true;
					field.valid = field.pattern.test(field.value);
				},
				sendForm(){
					this.isFormDone = true;
				}
			},
			created() {
				return this.info.forEach(field =>  {
					field.activated = false,
					field.valid = false
				});
			}
		}).mount('.sample');
	</script>
</body>
</html>