<!doctype html>
<html lang="ru">
<head>
	 <meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <title>1</title>
	 <link rel="stylesheet" href="css/bootstrap.min.css">
	 <link rel="stylesheet" href="css/font-awesome.min.css">
	 <link href="css/styles.css" rel="stylesheet">
	<style>
		.content{
			height: 300px;
			overflow: auto;
			box-sizing: border-box;
		}
	</style>
	 <script src="js/vue.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="sample">
			<form @submit.prevent="sendForm" v-if="!isFormDone">
				<div class="content alert alert-info" v-on:scroll="scrollEvent" ref="scroll">
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
				</div>
				<div v-if="checkScroll">
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" v-model="agree" type="checkbox"> 
							Agree
						</label>
					</div>

					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" v-model="getSpam" type="checkbox"> 
							Get spam
						</label>
					</div>

					<div v-if="getSpam">
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="radio" v-model="spamType" value="email"> 
								Email
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="radio" v-model="spamType" value="phone"> 
								Phone
							</label>
						</div>
					</div>

					<hr>
					<button type="submit" class="btn btn-primary" :disabled="!agree">
						Send Data
					</button>
				</div>
			</form>
			<div v-if="isFormDone">
				<table class="table table-bordered">
					<tr>
						<td>Agree all</td>
						<td>yes</td>
					</tr>
					<tr>
						<td>Get spam</td>
						<td>{{ getSpam ? "yes" : "no" }}</td>
					</tr>
					<tr v-if="spamType">
						<td>Spam type</td>
						<td>{{ spamType }}</td>
					</tr>
				</table>
			</div> 
		</div>
	</div>
	<script>
		
		Vue.createApp({
			data: () => ({
				agree: false,
				getSpam: false,
				checkScroll: false,
				isFormDone: false,
				testField: "yes",
				spamType: 'email'
			}),
			computed: {
				
			},
			methods: {
				scrollEvent() {
					if (this.$refs.scroll.scrollHeight == (this.$refs.scroll.offsetHeight + this.$refs.scroll.scrollTop - 2)) {
						this.checkScroll = true
					};
				},
				sendForm($event){
					$event.preventDefault();

					this.isFormDone = true;
				}		
			}
		}).mount('.sample');

	</script>
</body>
</html>